node_modules/
dist/
build/
.env
.env.local
.env.production
deploy/caddy-data/
deploy/caddy-config/
netlify-publish/
*.log
coverage/
.DS_Store
storage-data/
uploads/
apps/**/dist
packages/**/dist
prisma/*.db
*.tsbuildinfo
